@font-face {
    font-family: 'PokemonSolid';
    src: url('../fonts/pokemon/Pokemon Solid.ttf');
}

@font-face {
    font-family: 'PokemonHollow';
    src: url('../fonts/pokemon/Pokemon Hollow.ttf');
}
:root {
    --height-footer: 20px;
    --height-header: 120px;
    --color-azulOsc:#105c9e;
    --color-amarillo:#fcca02;
    --color-rojo:#fc1b1b;
    --borderradius:.8rem;
    --stroke-titulos:.3rem var(--color-azulOsc);
    --stroke-p:.1rem var(--color-azulOsc);
  }
.footer-inicio{
    background-color: var(--color-rojo);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'PokemonSolid';
    color: var(--color-amarillo);
    -webkit-text-stroke: var(--stroke-p);
}

.footer-inicio a{
    text-decoration: none;
    color: var(--color-amarillo);
    -webkit-text-stroke: var(--stroke-p);
    font-size: .7rem;
}