@font-face {
    font-family: 'PokemonSolid';
    src: url('../fonts/pokemon/Pokemon Solid.ttf');
}

@font-face {
    font-family: 'PokemonHollow';
    src: url('../fonts/pokemon/Pokemon Hollow.ttf');
}

:root {
  --height-footer: 20px;
  --height-header: 120px;
  --color-azulOsc:#105c9e;
  --color-amarillo:#fcca02;
  --color-rojo:#fc1b1b;
  --borderradius:.8rem;
  --stroke-titulos:.3rem var(--color-azulOsc);
  --stroke-p:.2rem var(--color-azulOsc);
}

*,::before,::after {
  box-sizing: border-box;
margin: 0;
padding: 0;
}
html{
  scroll-behavior: smooth;
}
.headerTop ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    
}
.headerTop ul a{
    text-decoration: none;
    color: var(--color-azulOsc);
    text-shadow: 2px 2px 10px var(--color-azulOsc);
    letter-spacing: .4rem;
}

.headerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PokemonHollow';
    width: 100%;
    padding-inline:1.4rem;
    background-color: #FFF;
    background-color: var(--color-rojo);
}


.fig_nav{
    width: 200px;
    height: 100px;
}

.fig_nav img{
    width: 100%;
    height: 100%;
}

  .carril-bola {
    width: 100%;
    height: 20px;
    background-color: var(--color-rojo);
    border-radius: var(--borderradius);
    display: flex;
    align-items: center;
    position: relative;
  }
  .imagenAnimacion{
    position: absolute;
    right: 1rem;
    opacity: 1;
    animation: imagen infinite 10s;
    animation-delay: 1s;
  }
  @keyframes imagen{
    0%{
      opacity: 1;
    }
    10%{
      opacity: .8;
    }
    20%{
      opacity: .6;
    }
    30%{
      opacity: .4;
    }
    40%{
      opacity: .2;
    }
    50%{
      opacity: 0;
    }
    60%{
      opacity: .2;
    }
    70%{
      opacity: .4;
    }
    80%{
      opacity: .6;
    }
    90%{
      opacity: .8;
    }
    100%{
      opacity: 1;
    }
  }
  .imagenAnimacionDos{
    position: absolute;
    left: 0rem;
    opacity: 0;
    animation: imagenDos infinite 10s;
    animation-delay: 1s;
  }
  @keyframes imagenDos{
    0%{
      opacity: 0;
    }
    10%{
      opacity: .2;
    }
    20%{
      opacity: .4;
    }
    30%{
      opacity: .6;
    }
    40%{
      opacity: .7;
    }
    50%{
      opacity: 1;
    }
    60%{
      opacity: .7;
    }
    70%{
      opacity: .6;
    }
    80%{
      opacity: .4;
    }
    90%{
      opacity: .2;
    }
    100%{
      opacity: 0;
    }
  }
  
  .imagenBola {
    position: absolute;
    width: 46px;
    height: 46px;
    animation: moverPokebola 10s linear infinite; 
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
  @keyframes moverPokebola {
    0% {
      transform: translateX(0) rotate(0deg);
      left: 0%;
    }
    10% {
      transform: translateX(20%) rotate(90deg);
      
    }
    20% {
      transform: translateX(40%) rotate(180deg);
      
    }
    30% {
      transform: translateX(75%) rotate(270deg);
      
    }
    40% {
      transform: translateX(100%) rotate(330deg);
      
      
    }
    50%{
        transform: translateX(100%) rotate(360deg);
        left: 92%;

    }
    60%{
        transform: translateX(75%) rotate(270deg);


    }
    70%{
        transform: translateX(40%) rotate(180deg);

    }
    80%{
        transform: translateX(20%) rotate(90deg);
  
    }
    100%{
        transform: translateX(0) rotate(0deg);
      left: 0%;
    }

  }

.texto-navs img{
    width: 7rem;
}